{% extends "ui/base.html" %}

{% load pipeline %}
{% load active %}

{% block header %}

{% stylesheet 'kbo' %}
{% stylesheet 'datepicker' %}

{% endblock %}

{% block content %}
<div class="container-fluid">
      <div class="row">
      <!--
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          -->
        <div class="col-sm-12 col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <li class="{% active_side 'kbo:scores' %}"><a href="{% url 'kbo:scores' %}">Scores</a></li>
            <li class="{% active_side 'kbo:versus' %}"><a href="{% url 'kbo:versus' %}">Scores: versus</a></li>
            <li class="{% active_side 'kbo:standings' %}"><a href="{% url 'kbo:standings' %}">Standings</a></li>
            <li class="{% active_side 'kbo:graphs' %}"><a href="{% url 'kbo:graphs' %}">Graphs</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-10 main">
            {% block kbo_content %}{% endblock %}
        </div>
      </div>
    </div>

{% endblock %}

{% block javascripts %}
{% javascript 'datepicker' %}
{% endblock %}

