{% extends "kbo/base.html" %}

{% load pipeline %}
{% block kbo_content %}

<h2 class="sub-header">Scores</h2>
<div class="input-group date">
  <input type="text" class="form-control" value="{{ basedate.year }}/{{ basedate.month }}/{{ basedate.day }}">
  <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Away</th>
        <th></th>
        <th></th>
        <th>Home</th>
      </tr>
    </thead>

    <tbody>
{% for score in scores %}
      <tr>
        <td>{{ score.away_team }}</td>
        <td>{{ score.away_score }}</td>
        <td>:</td>
        <td>{{ score.home_score }}</td>
        <td>{{ score.home_team }}</td>
      </tr>
{% endfor %}
    </tbody>
  <table>
<div>

{% endblock %}

{% block javascripts %}
{% javascript 'datepicker' %}
<script>
$('.input-group.date').datepicker({
  format: 'yyyy/mm/dd',
  startDate: '{{ startDate.year }}/{{ startDate.month }}/{{ startDate.day }}',
  endDate: '{{ endDate.year }}/{{ endDate.month }}/{{ endDate.day }}',
  orientation: 'bottom',
});
$('.input-group.date').on("changeDate", function(event) {
    d = new Date($('.input-group.date').datepicker('getDate'))
    window.location.href = '{% url 'kbo:scores' %}'.concat( d.yyyymmdd() )
});
</script>
{% endblock %}
